<div class="settings">
<h2>What would you like to do? </h2>
<div class="settings-btn">
  <button type="button" style="font-size: 18px; text-decoration: none; margin:2px;"><a href="/settings/merchant/index">Modifying my merchants</a></button>
  <button type="button" style="font-size: 18px; text-decoration: none; margin:2px;"><a href="/settings/category/index">Modifying my categories</a></button>
  <button type="button" style="font-size: 18px; text-decoration: none; margin:2px;"><a href="/transactions/index">Go back to the transactions</a></button>
  </div>
</div>
