<div class="update-mr-text">
<p>You successfully deleted this category:</p><br>
<p>Category name: <%=@category.name%></p>
<button type="button" title="You can modify your transaction here." style="font-size: 18px; text-decoration: none; margin:2px;"><a href="/settings/category/index">Back to my categories</a></button>
</div>
<img src="/images/success2.png" alt="wallet picture" style="position: fixed; max-width: 60%; left: 35%; top: 15%;">
