<form method="post" action="/user"><br>
  <label for="first-name"> Your first name:</label>
  <input id="first-name" type="text" name="first_name"/>

  <label for="last-name"> Your last name:</label>
  <input id="last-name" type="text" name="last_name"/>

  <label for="email"> Your e-mail address:</label>
  <input id="email" type="text" name="email">

  <label for="wallet">How much money do you have?</label>
  <input id="wallet" type="number" name="wallet">

  <input type="submit" value="I'm ready!"/>
</form>
