<p>What would you like to do? </p>

<div class="transaction-nav-bar">
  <nav>
    <ul>
      <li><a href="/transactions/index">All of my transactions</a></li>
      <li><a href="/transactions/new">Create a new transaction</a></li>
    </ul>
  </nav>
</div>
